.header-background-archive {
    text-align: center;
    padding: 60px 20px;
    background: #FF5C39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 30px 30px;
    }

    h2 {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'SFT-Schrifted-Serif-T';
    -webkit-text-stroke: 2px ;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    line-height: normal;

  }
 .p-box_mini{
    font-family: 'Forma DJR Cyrillic Micro', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    line-height: normal;
    }

   a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.all_archive_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 60px;
    justify-content: flex-start;

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.card-arc {
  position: relative;
  padding: 22px;
  width: 250px;
  height: 350px;
  background-color: #fff;
  border-radius: 20px;
  border: 1.5px solid #000;
  box-shadow: 0px 7px 0px 0px #000;
  overflow: hidden;
  transition: transform 0.3s ease, border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -10px;
    border: 1.5px solid #000;
    border-radius: 25px;
    z-index: -1;
    transition: border-color 0.3s ease;
  }

  &:hover {
    transform: translateY(-5px);
    border-color: #FF5C39;
   box-shadow: 0px 7px 0px 0px #FF5C39;

    &::after {
      border-color: #FF5C39;
    }
  }

  h1 {
    font-size: 1.8rem;
    line-height: normal;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
  }

  p {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #000000;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}
}


