* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'coolvetica', 'SFT-Schrifted-Serif-Text', 'FormaDJRCyrillicMicro', 'FormaDJRCyrillicBanner';
  font-weight: 400;
}
.landing{
  font-family: 'coolvetica';
  font-size: 25px;
}

.images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }

  .image {
    &#bgPNG {
      background-image: url('../images/image.png');
    }

    &#bgJPG {
      background-image: url('../images/image.jpg');
    }

    &#bgSVG {
      background-image: url('../images/image.svg');
    }
  }
}
