.head2{
    z-index: 3;
    position: fixed;
    height: 3.5vw;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    border-radius: 2vw;
    background-color: white;
    border: 0.09vw solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0.6vw;
    .logo{
      display: flex;
      background: #ffffff;
      width: 7vw;
      height: 2vw;
      border-radius: 2vw;
      justify-content: center;
      align-items: center;
      .logoimg{width: 5vw;}
      .logo:hover{
        background-color: #FF5C39;
        border: 0.1vw solid #000;}
    }
    .about{
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      color: black;
      width: 7vw;
      height: 2vw;
      text-align: center;
      font-family: "Forma DJR Cyrillic Micro";
      font-size: 0.9vw;
      border-radius: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .about:hover{
      font-family: 'SFT-Schrifted-Serif-T', italic;
      background-color: #FF5C39;
      color: white;
      border: 0.1vw solid #000;}
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Forma DJR Cyrillic Micro', sans-serif;
    color: #050505;
    line-height: 1;
}
h2, h3{
    font-family: 'SFT-Schrifted-Serif-T', italic;
}
p{
    line-height: 1;
}

header {
    background-color: #FF5C39;
    color: #050505;
    text-align: center;
    padding: 30vw 10vw;
    position: relative;
    height: 40vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    .logo {
        font-size: 10rem;
        font-weight: bold;
        font-family: 'SFT-Schrifted-Serif-T', italic;
    }
    .subtitle {
        font-size: 4rem;
        text-stroke: 4px;
    }
    .circle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        border-radius: 65%;
        width: 95%;
        height: 90%;
        margin: auto;
        z-index: 0;
    }
    .content {
    position: relative;
    z-index: 1;
}
}

nav {
    padding: 2vw;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        li a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
    }
}

.section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: start;
    line-height: 1.5;
    gap: 5vw;
    h2 {
        font-size: 4rem;
        text-stroke: 4px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.h{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}
.mission {
    background-color: #ffffff;
    height: 15vw;
    padding: 20px;
    border-radius: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    div {
        flex: 1;
        text-align: start;
    }
}

.values {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    margin-top: 20px;
    span {
        background-color: #FF5C39;
        color: #fff;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1rem;
    }
}
#logos{
    .text2block{
        display: flex;
        flex-direction: row;
        gap: 10vw;
    }
    .logobig{
        width: 40vw;
    }

    .mininoob2block{
        display: flex;

        gap: 8vw;
        .mininoob{
            display: flex;
            flex-wrap: wrap;
            gap: 2vw;
            width: 35vw;
        }
        .mininoob2{
            display: flex;
            flex-direction: column;
            gap: 2vw;
        }
       
    }
    
    .logosmall{
        height: 8vw;
    }
    .logosmall2{width: 8vw;}
}
#colors{
    .combine{
        gap: 5vw;
    }
    .color{
        height: 10vw;
        gap: 5vw;
    }
}

footer {
    background-color: #FF5C39;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}